<template name="layout">
  <nav class="navbar navbar-default" role="navigation"> <div class="container-fluid">
    <!-- currentUser is provided by the Accounts-Password package,
    it's an object representing a user... 
    it has username, email, profile, etc.. properties. -->
    <ul>
      <!-- Welcome message -->
      <li>
        <a href="{{pathFor 'index'}}">{{#if currentUser}} {{currentUser.username}}'s {{/if}} Face Smasher</a>
      </li>      

      <!-- logout -->
      {{#if currentUser}}
      <li class="right">
        <a href="" id="logout-btn" >Logout</a>
      </li>
      <li class="right">
        <a href="{{pathFor 'characters'}}" id="characters" >Characters</a>
      </li>
      {{else}}

      <!-- sigin -->
      <li class="right">
        <a href="{{pathFor 'login'}}" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Sign in<span class="caret"></span>
        </a>
      </li>

  <!--
  <li>
    {{#if toggleLogin}}
    <div>
      {{>login}}
      <li class="divider"></li>
      <li><a href="" id="regDisplay">Register</a></li>
    </div>
    {{/if}}

    {{#if toggleRegister}}
    <div>
      {{>register}}
      <li class="divider"></li>
      <li><a href="" id="logDisplay">Login</a></li>
    </div>
    {{/if}}
  </li>
  {{/if}}
  -->
  {{/if}}
  </ul>

  </div><!-- /.container-fluid -->
</nav>

<div class="consoleLog"><h1 class="title">{{consoleLog}}</h1></div>

<!-- container -->
<div class="container">
  {{>yield}}
</div> <!-- end .container -->

<div class="panel-footer">
  <div class="row">
    <div class="col-sm-12"><p>Created by: julioRonnieCliff.(espa~ol)</p></div>
  </div>
</div>

</template>