<template name="characterProfile">
	<h1>{{name}}'s Base Attributes</h1>
	<div class="row">
		<div class="col-md-6">
			<table class="table" id="ability-scores">
				<tr id="ability-scores-tiltes">
					<th>Ability Name</th>
					<th>Ability Score</th>
					<th>Item Bonus</th>
					<th>Ability Modifier</th>
					<th>Temp Score</th>
					<th>Temp Modifier</th>
				</tr>
				<tr>
					<!-- ability name -->
					<th>STR</th>
					<!-- ability score -->
					<td><input id="str-score" placeholder="{{abilities.STR.score}}"></td>
					<!-- item bonus -->
					<td><input id="str-bonus" placeholder="{{abilities.STR.strengthBonus}}"></td>
					<!-- ability modifier -->
					<td id="str-modifier"></td>
					<!-- temp score -->
					<td><input id="str-temp"></td>
					<!-- temp modifier -->
					<td id="str-temp-modifier"></td>
				</tr>
				<tr>
					<!-- ability name -->
					<th>DEX</th>
					<!-- ability score -->
					<td><input id="dex-score" placeholder="{{abilities.DEX.score}}"></td>
					<!-- item bonus -->
					<td><input id="dex-bonus" placeholder="{{abilities.DEX.dexterityBonus}}"></td>
					<!-- ability modifier -->
					<td id="dex-modifier"></td>
					<!-- temp score -->
					<td><input id="dex-temp"></td>
					<!-- temp modifier -->
					<td id="dex-temp-modifier"></td>
				</tr>
				<tr>
					<!-- ability name -->
					<th>CON</th>
					<!-- ability score -->
					<td><input id="con-score" placeholder="{{abilities.CON.score}}"></td>
					<!-- item bonus -->
					<td><input id="con-bonus" placeholder="{{abilities.CON.consitutionBonus}}"></td>
					<!-- ability modifier -->
					<td id="con-modifier"></td>
					<!-- temp score -->
					<td><input id="con-temp"></td>
					<!-- temp modifier -->
					<td id="con-temp-modifier"></td>
				</tr>
				<tr>
					<!-- ability name -->
					<th>INT</th>
					<!-- ability score -->
					<td><input id="int-score" placeholder="{{abilities.INT.score}}"></td>
					<!-- item bonus -->
					<td><input id="int-bonus" placeholder="{{abilities.INT.intellectBonus}}"></td>
					<!-- ability modifier -->
					<td id="int-modifier"></td>
					<!-- temp score -->
					<td><input id="int-temp"></td>
					<!-- temp modifier -->
					<td id="int-temp-modifier"></td>
				</tr>
				<tr>
					<!-- ability name -->
					<th>WIS</th>
					<!-- ability score -->
					<td><input id="wis-score" placeholder="{{abilities.WIS.score}}"></td>
					<!-- item bonus -->
					<td><input id="wis-bonus" placeholder="{{abilities.WIS.wisdomBonus}}"></td>
					<!-- ability modifier -->
					<td id="wis-modifier"></td>
					<!-- temp score -->
					<td><input id="wis-temp"></td>
					<!-- temp modifier -->
					<td id="wis-temp-modifier"></td>
				</tr>
				<tr>
					<!-- ability name -->
					<th>CHA</th>
					<!-- ability score -->
					<td><input id="cha-score" placeholder="{{abilities.CHA.score}}"></td>
					<!-- item bonus -->
					<td><input id="cha-bonus" placeholder="{{abilities.CHA.charismaBonus}}"></td>
					<!-- ability modifier -->
					<td id="cha-modifier"></td>
					<!-- temp score -->
					<td><input id="cha-temp"></td>
					<!-- temp modifier -->
					<td id="cha-temp-modifier"></td>
				</tr>

				
			</table>
			<button id="saveCharacter">Save</button>
		</div>

		<div class="col-md-6">
		</div>
	</div>
	<br />
	<div class="row" id="ability-scores">
			<div class="ability-box">
				<div class="little-box">
					<span>STR</span>
					<label>Strength</label>
				</div>
				<div class="little-box">
					<input>
					<label>Ability Score</label>
				</div>
				<div class="little-box">
					<span>STR</span>
					<label>Ability Mod.</label>
				</div>
				<div class="little-box">
					<input>
					<label>Temp Score</label>
				</div>
				<div class="little-box">
					<span>STR</span>
					<label>Temp Mod.</label>
				</div>
			</div>
			<div class="ability-box">
				<div class="little-box">
					<span>DEX</span>
					<label>Strength</label>
				</div>
				<div class="little-box">
					<input>
					<label>Strength</label>
				</div>
				<div class="little-box">
					<span>DEX</span>
					<label>Strength</label>
				</div>
				<div class="little-box">
					<input>
					<label>Strength</label>
				</div>
				<div class="little-box">
					<span>DEX</span>
					<label>Strength</label>
				</div>
			</div>
			<div class="ability-box">
				<div class="little-box">
					<span>CON</span>
					<label>Strength</label>
				</div>
				<div class="little-box">
					<input>
					<label>Strength</label>
				</div>
				<div class="little-box">
					<span>CON</span>
					<label>Strength</label>
				</div>
				<div class="little-box">
					<input>
					<label>Strength</label>
				</div>
				<div class="little-box">
					<span>CON</span>
					<label>Strength</label>
				</div>
			</div>
	</div>	
</template>