$tan: #FFF9C7;
$darktan: #E6DD94;
$brown: #4C3224;
$darkbrown: #3C2517;
$red: #A02618;


#ability-scores{
	overflow: hidden;

	.little-box:first-child{
			background-color: $brown;
			color: $tan;
		}

	.little-box:nth-child(3), .little-box:nth-child(5){
			background-color: $tan;
			color: $darkbrown;
			border: $red 1px solid;
		}

	.little-box {
		// border: black 1px solid;
		min-height: 60px;
		min-width: 60px;
		overflow: hidden;
		text-align: center;
		outline: none;
		position: relative;
		width: 19%;
		display: inline-block;
		padding: 0;
		background-color: white;
		box-shadow: 2px 2px 8px black;

		label{
			display:block;
			width: 100%;
			background-color: $darkbrown;
			color:$tan;
			font-size: .7em;
			position: absolute;
			text-align: center;
			bottom: 0;
		}
		span{
			font-size: 1.8em;
			margin-top: 20%;
			display: block;

		}
		input{
			background-color: white;
			overflow: hidden;
			outline: none;
			font-size: 1.8em;
			padding: 0;
			text-align: center;
			margin-top: 10%;
		}

	}
}

.dropdown-menu{
	padding: .5em;
	width: 20em;
}
.container {
	width: 80%;
}

.row:last-child{
	margin-bottom: 300px;
}

.ability-box{
display:inline-block;
width:400px;
min-width:400px;
}
input{
	background-color: rgb(250, 255, 189) !important;
}

.navbar {
	margin-bottom: 0px;
}
.consoleLog h1{
	margin-top: 0px;
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;

	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);

}

th{
	font-size: 1.2em;
}

a {
	
	transition: color .7s;
}
a:hover {
	color: $red;
}
#ability-scores input{
	width: 2em;
} 
#ability-scores-tiltes th{
	font-size: 1.5em;
}


.third{
	width: 30%;
	float: left;
}

.row{
	position: relative;
	// overflow:hidden;
}

.character{
	background-color: $brown;
	color: $tan;
	padding: 5px;
	text-align: center;
	margin-top: 20px;
	transition: background-color .5s;
	transition: color .5s; 
	padding: 1.4em 0;
	font-size: 1.2em;


}

.character:hover {
	color: $darktan;
	background-color: $darkbrown;
	cursor: pointer;
}

.panel-footer{
	position: fixed;
	height: 60px;
	bottom: 0;
	width: 100%;
	background-color: black;
	text-align: center;
	transition: font-size .7s, font-style .7s, background-color .7s, letter-spacing 1.2s;
}

.panel-footer:hover{
	background-color: $darktan;
	color: $brown;
	font-style: bold;
	font-size: 2em;
	letter-spacing: .8em;
}


.container{
	margin: 0 auto;
}
nav{
	background-color: #351F12;
	color: $tan;
	padding: .5em 1em;
	font-size: 1.5em;
	font-weight: normal;
	font-family: "book";
	text-align: center;


	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: #C29669;
   	li{
   		padding: .1em;
   	}

}
nav ul li{
	float: left;
}

nav a{
	color: inherit;
	text-decoration: none;
	padding: 1em;
}

nav ul{
	overflow: hidden;
}

.right{
	float: right;
}

.hidden{
	display: none;
}


body{
	background-color: $tan;
	color: #4C3224;
	font-family: "book";
}

input{
	background-color: #A02618;
	padding: 0;

}
input:-webkit-autofill {

	//this is actually background color on autofills
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.smash{
	font-family: 'smashme';
}



.form-signin{
	border: 1px solid $brown;
	box-shadow: 2px 2px 8px $darkbrown; 
	padding: 0 0 2em 0; 
	width: 50%;
	min-width: 15em;
	margin: 0 auto;
	font-size: 1.5em;
}

#add-char input{
	width: 32% ;
	margin-right: 1%;
	float: left; 
	padding: 1em;
}

#save-btn{
	font-size: 1.1em;
	padding: .5em 0;
	display: block;
	width: 32%;
	margin: 0 33%;
	background-color: $red;
	border: none;
	color: white;
}

input{
	background-color: white !important; 
	font-family: 	'Raleway';
	width: 			70%;
	font-size: 		inherit;
	margin: 		0 auto;
	display: 		block;
	margin-bottom: 	.5em;
	font-size: 		.9em;
	padding: 		.5em;
	border: 		none;
}

.title{
	font-family: 'smashme';
	font-size: 5em;
	color: #3C2517;

	text-shadow: 2px 2px 8px #3C2517;
	text-align: center;
	margin: .2em 0;

	-webkit-text-stroke-width: 2px;
   	-webkit-text-stroke-color: #C69B6D;
}

.form-signin button{
	font-size: inherit;
	margin: 0 auto;
	width: 73%;
	display: block;
	background-color: #A02618;
	color: white;
	border: none;
	padding: .3em; 
}

#new-char-btn{
	background-color: $red;
	color: $tan;
	font-family: 'Verdana';
	padding: .005em .3em;
	border: none;
	border-radius: 50%;
	box-shadow: 2px 2px 8px $darkbrown;
	cursor: pointer;
	
	position: absolute;
		right: -.5em;
		top: 	.15em;
	
	font-size: 2em;
}


@font-face {
  font-family: 'smashme';
  src: url(smashme.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'book';
  src: url(book.ttf);
}

@media (max-width:700px) {
  #add-char input{
    width: 100%;
  }
  .container{
  }
  .form-signin{
  	width: 99%;
  }

}

@media (max-width:1000px) {
  #add-char input{
    width: 100%;
  }
  .form-signin{
  	width: 99%;
  }

}

#reg-link{
	color: green;
	position: absolute;
	bottom: 0;
	right: 0;
}

.form-signin{
	position: relative;
}