.dropdown-menu{
	padding: .5em;
	width: 20em;
}
.container {
	width: 80%;
}

input{
	background-color: rgb(250, 255, 189) !important;
}

.navbar {
	margin-bottom: 0px;
}
.consoleLog h1{
	background-color: black;
	margin-top: 0px;
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;

	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);

}

a {
	
	transition: color .7s;
}
a:hover {
	color: black;
}
#ability-scores input{
	width: 2em;
} 
#ability-scores-tiltes th{
	font-size: 1.5em;
}

.character{
	background-color: black;
	padding: 5px;
	text-align: center;
	margin-top: 20px;
	transition: background-color .5s;
	transition: color .5s;

}

.character:hover {
	color: black;
	background-color: green;
	cursor: pointer;
}

.panel-footer{
	position: fixed;
	height: 60px;
	bottom: 0;
	width: 100%;
	background-color: black;
	text-align: center;
	transition: font-size .7s, font-style .7s, background-color .7s, letter-spacing 1.2s;
}

.panel-footer:hover{
	background-color: green;
	color: black;
	font-style: bold;
	font-size: 2em;
	letter-spacing: .8em;
}