<template name="register">
	<form class="form-signin">
		<h2 class="title">Register!</h2>

		<input type="text" id="first-name" class="form-control" placeholder="First Name" required>
		<input type="text" id="last-name" class="form-control" placeholder="Last Name" required>
		<input type="text" id="username" class="form-control" placeholder="Username" required autofocus>
		<input type="email" id="email" class="form-control" placeholder="Email@adress.com" required>
		<input type="password" id="password" class="form-control" placeholder="Password" required>
		<button class="btn btn-sm btn-primary btn-block" id="register-btn" type="submit">Smash!</button>
	</form> 
</template>